<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bookstore Back Office</title>
		<link rel="preload" href="/typeface.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/main.css">
		<script src="/index.js" defer></script>
	</head>
	<body>
		<nav>
			<div id="navSpace"></div>
			{{#each pages}}
				<a class="page {{#isEqual title ../title}}curr{{/isEqual}}" href="{{url}}">{{title}}</a>
			{{/each}}
		</nav>
		<div id="util">
			<h1>{{title}}</h1>
			<p>Bookstore Back Office</p>
			{{#isNotEqual title "Home"}}
			<button id="create">Create New {{title}}</button>
			<dialog id="createForm">
				<form method="dialog">
					<legend>Create New {{title}}</legend>
					<fieldset>
						<label for="name">Full Name:</label>
						<input type="text" id="name" name="name">
						<label for="name">Phone Number:</label>
						<input type="text" id="phone" name="phone">
						<label for="name">Email Address:</label>
						<input type="text" id="email" name="email">
						<label for="name">Home Address:</label>
						<input type="text" id="address" name="address">
						<label for="name">Favorite Genre:</label>
						<select id="genre" name="genre">
							<option value="1">Fiction</option>
							<option value="2">Mystery</option>
							<option value="3">Romance</option>
							<option value="4">Sci-Fi</option>
							<option value="5">Biograph</option>
						</select>
					</fieldset>
					<button value="cancel" formmethod="dialog">Cancel</button>
					<button value="default">Submit</button>
				</form>
			</dialog>
			<button id="edit">Edit {{title}}</button>
			<dialog id="editForm">
				<form method="dialog">
					<legend>Edit {{title}}</legend>
					<fieldset>
						<label for="name">Full Name:</label>
						<input type="text" id="name" name="name" value="John Doe">
						<label for="name">Phone Number:</label>
						<input type="text" id="phone" name="phone" value="555-1234">
						<label for="name">Email Address:</label>
						<input type="text" id="email" name="email" value="john.doe@email.com">
						<label for="name">Home Address:</label>
						<input type="text" id="address" name="address" value="123 Main St.">
						<label for="name">Favorite Genre:</label>
						<select id="genre" name="genre">
							<option value="1">Fiction</option>
							<option value="2">Mystery</option>
							<option value="3">Romance</option>
							<option value="4">Sci-Fi</option>
							<option value="5">Biograph</option>
						</select>
					</fieldset>
					<button value="cancel" formmethod="dialog">Cancel</button>
					<button value="default">Submit</button>
				</form>
			</dialog>
			<button id="delete">Delete {{title}}</button>
			<dialog id="deleteForm">
				<form method="dialog">
					<legend>Delete {{title}}</legend>
					<p>Are you sure you want to delete the selected {{title}}?</p>
					<div class="formButtons">
						<button value="cancel" formmethod="dialog">No</button>
						<button value="default">Yes</button>
					</div>
				</form>
			</dialog>
			{{/isNotEqual}}
		</div>
		{{{body}}}
	</body>
</html>
