<menu>
	<h1>{{title}}</h1>
	<p>Bookstore Back Office</p>
    {{#isEqual title "Books"}}
        <form id="booksSearch">
            <input type="search" id="searchGenre" class="search" placeholder="Search by Genre">
            <button type="submit">Search</button>
        </form>
        <script>
            document.getElementById('booksSearch').addEventListener('submit', function(event) {
                event.preventDefault();
                
                let genreID = document.getElementById('searchGenre').value;
                
                fetch('/books/search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ genreID: genreID }),
                })
                .then(response => response.json())
                .then(data => {
                    let table = '<thead><tr><th><input type="checkbox" id="select-all"></th><th>bookID</th><th>title</th><th>author</th><th>price</th><th>stock</th></tr></thead><tbody>';
                    data.forEach(row => {
                        table += '<tr data-id="' + row.bookID + '">';
                        table += '<td><input type="checkbox" class="select-row"></td>';
                        table += '<td>' + row.bookID + '</td>';
                        table += '<td>' + row.title + '</td>';
                        table += '<td>' + row.author + '</td>';
                        table += '<td>' + row.price + '</td>';
                        table += '<td>' + row.stock + '</td></tr>';
                    });
                    table += '</tbody>';

                    document.getElementById('results').innerHTML = table;
                });
            });
        </script>
        <hr>
    {{/isEqual}}
    {{#isEqual title "Customers"}}
        <form id="custSearch">
            <input type="search" id="searchName" class="search" placeholder="Search by Name">
            <button type="submit">Search</button>
        </form>
        <script>
            document.getElementById('custSearch').addEventListener('submit', function(event) {
                event.preventDefault();
                
                let name = document.getElementById('searchName').value;
                
                fetch('/customers/search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ name: name }),
                })
                .then(response => response.json())
                .then(data => {
                    let table = '<thead><tr><th><input type="checkbox" id="select-all"></th><th>customerID</th><th>name</th><th>phone</th><th>email</th><th>address</th><th>favoriteGenre</th></tr></thead><tbody>';
                    data.forEach(row => {
                        table += '<tr data-id="' + row.customerID + '">';
                        table += '<td><input type="checkbox" class="select-row"></td>';
                        table += '<td>' + row.customerID + '</td>';
                        table += '<td>' + row.name + '</td>';
                        table += '<td>' + row.phone + '</td>';
                        table += '<td>' + row.email + '</td>';
                        table += '<td>' + row.address + '</td>';
                        table += '<td>' + row.favoriteGenre + '</td></tr>';
                    });
                    table += '</tbody>';

                    document.getElementById('results').innerHTML = table;
                });
            });
        </script>
        <hr>
    {{/isEqual}}
	<button id="create">Create New {{title}}</button>
	<dialog id="createForm">
		<form method="dialog">
			<legend>Create New {{title}}</legend>
			<fieldset>
				{{#each data}}
					{{#if @first}}
						{{#each this}}
                            {{#if (multipleChoice ../../title @key)}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <select name="{{@key}}" id="{{@key}}">
                                    <option disabled selected value> -- select {{@key}} -- </option>
                                    {{#lookupAndEach ../../tables @key}}
                                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                                    {{/lookupAndEach}}
                                </select>
                            {{else if (entityKey ../../title @key)}}
                            {{else}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <input type="text" id="{{@key}}" name="{{@key}}">
                            {{/if}}
						{{/each}}
					{{/if}}
				{{/each}}
			</fieldset>
			<p id="createError"></p>
			<div class="formButtons">
				<button type="button" id="createClose">Close</button>
				<button type="submit">Submit</button>
			</div>
		</form>
	</dialog>
	<button id="edit">Edit {{title}}</button>
	<dialog id="editForm">
		<form method="dialog">
			<legend>Edit {{title}}</legend>
			<fieldset>
				{{#each data}}
					{{#if @first}}
						{{#each this}}
                            {{#if (multipleChoice ../../title @key)}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <select name="{{@key}}" id="{{@key}}">
                                    <option disabled selected value> -- select {{@key}} -- </option>
                                    {{#lookupAndEach ../../tables @key}}
                                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                                    {{/lookupAndEach}}
                                </select>
                            {{else if (entityKey ../../title @key)}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <select name="{{@key}}" id="{{@key}}">
                                    <option disabled selected value> -- select {{@key}} -- </option>
                                    {{#each ../../data}}
                                        <option value="{{entryKeys this ../../../title}}">
                                            {{this.title}}{{this.orderID}}{{this.name}}
                                        </option>
                                    {{/each}}
                                </select>
                            {{else}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <input type="text" id="{{@key}}" name="{{@key}}">
                            {{/if}}
						{{/each}}
					{{/if}}
				{{/each}}
			</fieldset>
			<p id="editError"></p>
			<div class="formButtons">
				<button type="button" id="editClose">Close</button>
				<button type="submit">Submit</button>
			</div>
		</form>
	</dialog>
	<button id="delete">Delete {{title}}</button>
	<dialog id="deleteForm">
		<form method="dialog">
			<legend>Delete {{title}}</legend>
			<p>Are you sure you want to delete the selected {{title}}?</p>
			<p id="deleteError"></p>
			<div class="formButtons">
				<button type="button" id="deleteClose">No</button>
				<button type="submit">Yes</button>
			</div>
		</form>
	</dialog>
</menu>
<table id="results">
	<thead>
		<tr>
			<th><input type="checkbox" id="select-all"></th>
		{{#each data}}
			{{#if @first}}
				{{#each this}}
					<th>{{@key}}</th>
				{{/each}}
			{{/if}}
		{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each data}}
			<tr data-id="{{entryKeys this ../title}}">
				<td><input type="checkbox" class="select-row"></td>
				{{#each this}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
