<div id="util">
	<h1>{{title}}</h1>
	<p>Bookstore Back Office</p>
	<button id="create">Create New {{title}}</button>
	<dialog id="createForm">
		<form method="dialog">
			<legend>Create New {{title}}</legend>
			<fieldset>
				{{#each data}}
					{{#if @first}}
						{{#each this}}
                            {{#if (multipleChoice ../../title @key)}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <select name="{{@key}}" id="{{@key}}">
                                    <option disabled selected value> -- select {{@key}} -- </option>
                                    {{#lookupAndEach ../../tables @key}}
                                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                                    {{/lookupAndEach}}
                                </select>
                            {{else if (entityKey ../../title @key)}}
                            {{else}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <input type="text" id="{{@key}}" name="{{@key}}">
                            {{/if}}
						{{/each}}
					{{/if}}
				{{/each}}
			</fieldset>
			<p id="createError"></p>
			<div class="formButtons">
				<button type="button" id="createClose">Close</button>
				<button type="submit">Submit</button>
			</div>
		</form>
	</dialog>
	<button id="edit">Edit {{title}}</button>
	<dialog id="editForm">
		<form method="dialog">
			<legend>Edit {{title}}</legend>
			<fieldset>
				{{#each data}}
					{{#if @first}}
						{{#each this}}
                            {{#if (multipleChoice ../../title @key)}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <select name="{{@key}}" id="{{@key}}">
                                    <option disabled selected value> -- select {{@key}} -- </option>
                                    {{#lookupAndEach ../../tables @key}}
                                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                                    {{/lookupAndEach}}
                                </select>
                            {{else if (entityKey ../../title @key)}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <select name="{{@key}}" id="{{@key}}">
                                    <option disabled selected value> -- select {{@key}} -- </option>
                                    {{#each ../../data}}
                                        <option value="{{entryKeys this ../../../title}}">
                                            {{this.title}}{{this.orderID}}{{this.name}}
                                        </option>
                                    {{/each}}
                                </select>
                            {{else}}
                                <label for="{{@key}}">{{@key}}:</label>
                                <input type="text" id="{{@key}}" name="{{@key}}">
                            {{/if}}
						{{/each}}
					{{/if}}
				{{/each}}
			</fieldset>
			<p id="editError"></p>
			<div class="formButtons">
				<button type="button" id="editClose">Close</button>
				<button type="submit">Submit</button>
			</div>
		</form>
	</dialog>
	<button id="delete">Delete {{title}}</button>
	<dialog id="deleteForm">
		<form method="dialog">
			<legend>Delete {{title}}</legend>
			<p>Are you sure you want to delete the selected {{title}}?</p>
			<p id="deleteError"></p>
			<div class="formButtons">
				<button type="button" id="deleteClose">No</button>
				<button type="submit">Yes</button>
			</div>
		</form>
	</dialog>
</div>
<table>
	<thead>
		<tr>
			<th><input type="checkbox" id="select-all"></th>
		{{#each data}}
			{{#if @first}}
				{{#each this}}
					<th>{{@key}}</th>
				{{/each}}
			{{/if}}
		{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each data}}
			<tr data-id="{{entryKeys this ../title}}">
				<td><input type="checkbox" class="select-row"></td>
				{{#each this}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
